:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	overflow: auto;
}

body {
	margin: 0;
	height: 98vh;
	overflow: hidden;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}
#container {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#tab-buttons {
	text-align: left;
	background-color: #dbdbdb;
	overflow-y: hidden;
	overflow-x: auto;
}
.toolbar {
	background-color: #858585;
	overflow-x: auto;
	text-align: left;
}
.icon {
	width: 2em;
	height: 2em;
	background-image: url(./assets/icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	float:left;
}
.toolbar > button {
	float:left;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #cacaca;
	color: black;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	background: linear-gradient(138deg, #ce9ecf 0%, #68ffd0 100%);
	border-radius: 5px;
	margin-left: 6px;
}
.toolbar > button:hover {
	background: linear-gradient(138deg, #d581d6 0%, #41ddc8 100%);
}
#tab-buttons > button {
	background-color: #e7e7e7;
	color: black;
	padding: 1em;
	border: none;
	font-size: medium;
	cursor: pointer;
}
#tab-buttons > button:nth-child(even) {
	background-color: #cecdcd;
}
#tab-buttons > button:hover {
	background-color: #b9b9b9;
}
.csv-container {
	/* width: 98dvw;
	height: 100%; */
	flex: 1;
	overflow: scroll;
}
.csv-table {
	border-collapse: collapse;
	font-size: small;
	font-family: 'Courier New', Courier, monospace;
}
.sticky {
	position: sticky;
	top: 0;
}
.csv-table > tr > th {
	text-wrap: nowrap;
	top: 0;
	background-color: #cecece;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.csv-table > tr {
	/* border: 1px solid #b5b5b5; */
	max-height: 2em;
	height: 2em;
	line-height: 1em;
	cursor: default;
}
.csv-table > tr:hover {
	background-color: #dfd3bd !important;
}
.csv-table > tr:nth-child(even) {
	background-color: #ededed;
}

.csv-table > tr > td {
	border-left-style: solid;
	border-width: 1px;
	border-color: #b5b5b5;
}
.key {
	/* background-color: #e7ac53; */
	background: linear-gradient(138deg, rgba(231,224,207,1) 0%, rgba(247,169,14,1) 100%);
	border-radius: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-style: solid;
	border-color: white;
	border-width: 1px;
}

.merge-panel {
	position:absolute;
	top: 10%;
	left: 5%;
	width: 90%;
	height: 85%;
	background-color: #a5a5a5;
	border-style: solid;
	border-width: 1px;
	border-color: #ffc965;
	border-radius: 1.5em;
	overflow: hidden;
}
.hide {
	display: none;
}
.row {
	display: flex;
	flex-direction: row;
}
.close {
	text-align: center;
	padding: 1em 2em 1em 2em;
	background-color: #9b7878;
	border:none;
	cursor: pointer;
}
.close:hover {
	background-color: #b98383;
}